@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Responsive Media */

@media all and (max-width:360px) {
    *{
        margin-top: auto!important;
    }
    .services{margin-top: 2em!important;}
    img{
        width: 100%;
        height: 300px;
    }
    .imgblk{
        position: relative!important;
        left: 0!important;
        width: 100%!important;
        margin: auto!important;
    }
    .content{
        position: relative!important;
        top:0!important;
        right:0!important;
        height: auto!important;
    }
    .conblk{
        text-align: center;
        padding: 15px!important;
    }
    h2{padding: 0%!important;}
    .hr,.time,.price{
      display: none;
    }
    .bnow{
        margin-top: 20px!important;
    }
    .layer::before{
        position: absolute;
        content: "";
        width: 278px!important;
        height: 300px!important;
        background-color: rgba(0, 0, 0, .2);
        z-index: 0;
    }
    .nl1,.nl2,.nl3,.nl4{
        animation: none!important;
    }
    .icons{
        padding: 0%!important;
    }
    .icons a{
        margin: 0 5.6px!important;
    }
}

body{
    background-color:rgb(0, 0, 0) ;
    font-family: 'montserrat', sans-serif;
}
a{text-decoration: none;}
.navbar-brand{
    animation: fadeleft 1s ease-in-out;
    letter-spacing: .5em;
    font-family: Anurati;
    color: rgba(255, 255, 255, 0.767)!important;
    font-size: 1.5em!important; 
}
.nav-link{
    letter-spacing: .1em;
    font-size:.9em!important;
    padding: 2vmin 5vmin!important;
    color: rgba(255, 255, 255, 0.767)!important;
    transition: all .4s linear;
}
.nav-link:hover,:focus{
    color: rgb(128, 0, 145)!important;
    transition: all .4s linear;
}
.dropdown-menu{
    background-color:transparent ;
    min-width: 0!important;
}
.dropdown:hover .dropdown-menu{display: block;}
.dropdown-item{
    color:rgba(255, 255, 255, 0.767)!important;
    background-color:transparent!important;
    transition: all .3s linear;
}
.dropdown-item:hover{
    transition: all .3s linear;
    color:rgb(128, 0, 145)!important;
}
.md{margin-bottom: 2em!important;}
.crt {
    margin: 0%;
    color:rgba(255, 255, 255, 0.767);
    font-size: .8em;
}
.icons a{
    margin: 0em 1em;
    font-size: 1em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.767);
    transition: all .2s ease-in-out;
}
.icons a:hover{
    transition: all .2s ease-in-out;
    color: blueviolet;
}

/*Services Section*/

.services-content{margin-top: 6em;}
.services{
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: silver;
    margin-top: 3em;
    letter-spacing: .5em;
    animation: servi 2s ease-in-out;
}
.slide{animation: images 1.5s ease-in-out;}
.layer::before{
    position: absolute;
    content: "";
    width: 500px;
    height: 450px;
    background-color: rgba(0, 0, 0, .2);
}
.layer:hover{
    filter: brightness(75%) contrast(115%);
}
.imgblk{
    padding: 70px 5px;
    position: relative;
    left: 12em;
    width: 80%;
}
.content{
    background-color: whitesmoke;
    height: 350px;
    position: relative;
    top:3em;
    right: -3em;
    animation: content 2s ease-in-out;
}
.conblk{padding: 60px;}
h2,.time,.price{
    color: black;
    padding-top: 20px;
    margin: auto;
}
h2{
    letter-spacing: .2em;
    transition: all .3s ease-in-out;
}
.hr{
    padding: 10px;
    border-bottom: 1px solid black;
}
.bnow{
    margin-top: 20px;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 0%;
    width: 50%;
    padding: 5px 10px;
    transition: all .3s ease-in-out;
}
.bnow:hover{
    background-color: rgb(128, 0, 145);
    transition: all .3s ease-in-out;
    color: rgb(255, 255, 255);
}
h2:hover{
    transition: all .3s ease-in-out;
    color: rgb(128, 0, 145);
}

/* Animation */

@keyframes servi {
    from{
        opacity: 0;
        transform: translatey(-20px);
    }
    to{
        opacity: 1;
        transform:translatey(0);
    }    
}

@keyframes fadeleft {
    from{
        opacity: 0;
        transform: translatey(-4em);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}

.nl1{
    animation: slideright .7s ease-in-out .2s;
}
@keyframes slideright {
    from{
        transform: translatex(4em);
        opacity: 0;
    }
    to{
        transform: translatex(0px);
        opacity: 1;
    }
}

.nl2{
    animation: slideright .8s ease-in-out .2s;
    color: rgb(128, 0, 145)!important;
}
@keyframes slideright {
    from{
        transform: translatex(4em);
        opacity: 0;
    }
    to{
        transform: translatex(0px);
        opacity: 1;
    }
}

.nl3{
    animation: slideright .9s ease-in-out .2s;
}
@keyframes slideright {
    from{
        transform: translatex(4em);
        opacity: 0;
    }
    to{
        transform: translatex(0px);
        opacity: 1;
    }
}

.nl4{
    animation: slideright 1s ease-in-out .2s;
}
@keyframes slideright {
    from{
        transform: translatex(4em);
        opacity: 0;
    }
    to{
        transform: translatex(0px);
        opacity: 1;
    }
}
@keyframes images {
    from{
        opacity: 0;
        transform: translatex(-1em);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes content {
    from{
        opacity: 0;
        transform: translatex(1em);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}